<!DOCTYPE html>
<html>
  <head>
    <title>Digitalflake</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Digitalflake</h1>
    <p>Welcome to Digitalflake</p>
  </body>
</html>
